<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>libacsccid.so</string>
	<key>CFBundleIdentifier</key>
	<string>hk.com.acs.ccid</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.0.1d1</string>
	<key>ifdCapabilities</key>
	<string>0x00000000</string>

	<!-- Possible values for ifdCapabilities bits
	1: IFD_GENERATE_HOTPLUG
	   plugging the reader calls pcscd \-\-hotplug

	Default value is 0x00000000
	-->

	<key>ifdProtocolSupport</key>
	<string>0x00000001</string>
	<key>ifdVersionNumber</key>
	<string>0x00000001</string>

	<key>ifdLogLevel</key>
	<string>0x0003</string>

	<!-- Possible values for ifdLogLevel
	1: CRITICAL  important error messages
	2: INFO      informative messages like what reader was detected
	4: COMM      a dump of all the bytes exchanged between the host and
	             the reader
	8: PERIODIC  periodic info when pcscd test if a card is present
	             (every 1/10 of a second)

	The final value is a OR of these values

	Default value: 3 (CRITICAL + INFO)
	-->

	<key>ifdDriverOptions</key>
	<string>0x0000</string>

	<!-- Possible values for ifdDriverOptions
	0x01: DRIVER_OPTION_CCID_EXCHANGE_AUTHORIZED
		the CCID Exchange command is allowed. You can use it through
		SCardControl(hCard, IOCTL_SMARTCARD_VENDOR_IFD_EXCHANGE, ...)

	0x02: DRIVER_OPTION_GEMPC_TWIN_KEY_APDU
		If set the GemPC Twin and GemPC Key readers with be configured
		so that the T=1 TPDU protocol is done by the firmware instead of
		the driver.
		This switches the reader in APDU mode and also in EMV mode so
		may not work with non EMV cards.

	0x04: DRIVER_OPTION_USE_BOGUS_FIRMWARE
		Some reader firmwares have bugs. By default the driver refuses
		to work with such firmware versions. If your reader is rejected
		because of the firmware (log message: "Firmware (x.y) is
		bogus!") you can:
		- upgrade your reader firmware (not all readers can do that)
		or
		- get another reader with a new/bugfree firmware
		or
		- activate this option but you will have problems depending on
		  the bug

	0x08: free

	bits 4 & 5: (values 0x00, 0x10, 0x20, 0x30)
	 0x00: power on the card at 5V (default value)
	 0x10: power on the card at 3V and then, if 3V fails use 5V
	 0x20: power on the card at 1.8V, then 3V and then 5V
	 0x30: let the reader decide

	0x40: DRIVER_OPTION_DISABLE_PIN_RETRIES
		The Gemalto pinpad reader sends a VERIFY command with no PIN
		value in order to retreive the remaining retries from the card.
		Some cards (like the OpenPGP card) do not support this.

	Default value: 0
	-->

	<key>ifdACSDriverOptions</key>
	<string>0x0003</string>

	<!-- Possible values for ifdACSDriverOptions
	1: ACS_DRIVER_OPTION_REMOVE_PUPI_FROM_ATR
		Remove PUPI from ATR if ISO 14443-B card is detected (ACR85/ACR1222).

	2: ACS_DRIVER_OPTION_DISABLE_PICC
		Disable PICC if ICC is inserted (ACR85/ACR1222).

	Default value: 3
	-->

	<key>ifdACR38CardVoltage</key>
	<string>0</string>

	<!-- Possible values for ifdACR38CardVoltage
	Card voltage selection for ACR38U, ACR38U-SAM and SCR21U readers

	0: Auto Detection
	1: 5V Card
	2: 3V Card
	3: 1.8V Card

	Default value: 0
	-->

	<key>ifdACR38CardType</key>
	<string>18</string>

	<!-- Possible values for ifdACR38CardType
	Card type selection for ACR38U, ACR38U-SAM and SCR21U readers
	 0: MCU

	 1: IIC (Auto Detect Memory Size)
		This value is not supported.

	 2: IIC (1K)
	 3: IIC (2K)
	 4: IIC (4K)
	 5: IIC (8K)
	 6: IIC (16K)
	 7: IIC (32K)
	 8: IIC (64K)
	 9: IIC (128K)
	10: IIC (256K)
	11: IIC (512K)
	12: IIC (1024K)
	13: AT88SC153
	14: AT88SC1608
	15: SLE4418
	16: SLE4428
	17: SLE4432
	18: SLE4442

	19: SLE4406
	20: SLE4436
	21: SLE5536
		These values are not supported in ACR38U-SAM and SCR21U readers.

	22: MCUT0
	23: MCUT1

	24: Auto Detection
		This value is not supported.

	Default value: 0
	-->

	<key>ifdManufacturerString</key>
	<string>Advanced Card Systems Ltd.</string>

	<key>ifdProductString</key>
	<string>ACS CCID driver</string>

	<key>ifdVendorID</key>
	<array>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
		<string>0x072f</string>
	</array>

	<key>ifdProductID</key>
	<array>
		<string>0xb301</string>
		<string>0xb304</string>
		<string>0x8300</string>
		<string>0x8302</string>
		<string>0x8307</string>
		<string>0x8301</string>
		<string>0x90cc</string>
		<string>0x90d8</string>
		<string>0xb100</string>
		<string>0xb101</string>
		<string>0xb102</string>
		<string>0xb103</string>
		<string>0xb10c</string>
		<string>0xb104</string>
		<string>0xb000</string>
		<string>0x90d2</string>
		<string>0x8306</string>
		<string>0x2011</string>
		<string>0x8900</string>
		<string>0x8901</string>
		<string>0x8902</string>
		<string>0x1205</string>
		<string>0x1204</string>
		<string>0x1206</string>
		<string>0x2200</string>
		<string>0x2214</string>
		<string>0x1280</string>
		<string>0x2207</string>
		<string>0x222b</string>
		<string>0x2206</string>
		<string>0x222e</string>
		<string>0x2237</string>
		<string>0x2219</string>
		<string>0x2203</string>
		<string>0x221a</string>
		<string>0x2229</string>
		<string>0x222d</string>
		<string>0x2218</string>
		<string>0x221b</string>
		<string>0x2232</string>
		<string>0x2242</string>
		<string>0x2238</string>
		<string>0x224f</string>
		<string>0x223b</string>
		<string>0x223e</string>
		<string>0x223d</string>
		<string>0x2244</string>
		<string>0x223f</string>
		<string>0x2239</string>
		<string>0x2211</string>
		<string>0x2100</string>
		<string>0x2224</string>
		<string>0x220f</string>
		<string>0x2223</string>
		<string>0x2208</string>
		<string>0x0901</string>
		<string>0x220a</string>
		<string>0x2215</string>
		<string>0x2220</string>
		<string>0x2233</string>
		<string>0x2234</string>
		<string>0x2235</string>
		<string>0x2236</string>
		<string>0x2213</string>
		<string>0x222c</string>
		<string>0x220c</string>
		<string>0x0102</string>
		<string>0x0103</string>
		<string>0x0100</string>
		<string>0x8201</string>
		<string>0x8202</string>
		<string>0x8205</string>
		<string>0x90db</string>
		<string>0xb200</string>
		<string>0xb106</string>
		<string>0x9000</string>
		<string>0x90cf</string>
		<string>0x0101</string>
		<string>0x9006</string>
		<string>0x90ce</string>
	</array>

	<key>ifdFriendlyName</key>
	<array>
		<string>ACS ACR32 ICC Reader</string>
		<string>ACS ACR3201 ICC Reader</string>
		<string>ACS ACR33U-A1 3SAM ICC Reader</string>
		<string>ACS ACR33U-A2 3SAM ICC Reader</string>
		<string>ACS ACR33U-A3 3SAM ICC Reader</string>
		<string>ACS ACR33U 4SAM ICC Reader</string>
		<string>ACS ACR38U-CCID</string>
		<string>ACS ACR3801</string>
		<string>ACS ACR39U ICC Reader</string>
		<string>ACS ACR39K ICC Reader</string>
		<string>ACS ACR39T ICC Reader</string>
		<string>ACS ACR39F ICC Reader</string>
		<string>ACS ACR39U ID1 Card Reader</string>
		<string>ACS ACR39U-SAM ICC Reader</string>
		<string>ACS ACR3901U ICC Reader</string>
		<string>ACS ACR83U</string>
		<string>ACS ACR85 PINPad Reader</string>
		<string>ACS ACR88U</string>
		<string>ACS ACR89 ICC Reader</string>
		<string>ACS ACR89 Dual Reader</string>
		<string>ACS ACR89 FP Reader</string>
		<string>ACS ACR100 ICC Reader</string>
		<string>ACS ACR101 ICC Reader</string>
		<string>ACS ACR102 ICC Reader</string>
		<string>ACS ACR122U</string>
		<string>ACS ACR1222 1SAM PICC Reader</string>
		<string>ACS ACR1222 1SAM Dual Reader</string>
		<string>ACS ACR1222 Dual Reader</string>
		<string>ACS ACR1222 1SAM PICC Reader</string>
		<string>ACS ACR1222 3S PICC Reader</string>
		<string>ACS ACR123 3S Reader</string>
		<string>ACS ACR123 PICC Reader</string>
		<string>ACS ACR123US_BL</string>
		<string>ACS ACR125 nPA plus</string>
		<string>ACS ACR1251 1S CL Reader</string>
		<string>ACS ACR1251 CL Reader</string>
		<string>ACS ACR122U</string>
		<string>ACS ACR1251U-C Smart Card Reader</string>
		<string>ACS ACR1251U-C Smart Card Reader</string>
		<string>ACS ACR1251K Dual Reader</string>
		<string>ACS ACR1251 1S Dual Reader</string>
		<string>ACS ACR1251 Reader</string>
		<string>ACS ACR1251 CL Reader</string>
		<string>ACS ACR1252 1S CL Reader</string>
		<string>ACS ACR1252 CL Reader</string>
		<string>ACS ACR1252 USB FW_Upgrade v100</string>
		<string>ACS ACR1252U BADANAMU MAGIC READER</string>
		<string>ACS ACR1255U-J1 PICC Reader</string>
		<string>ACS ACR1256U PICC Reader</string>
		<string>ACS ACR1261 1S Dual Reader</string>
		<string>ACS ACR128U</string>
		<string>ACS ACR1281 1S Dual Reader</string>
		<string>ACS ACR1281 CL Reader</string>
		<string>ACS ACR1281 PICC Reader</string>
		<string>ACS ACR1281 Dual Reader</string>
		<string>ACS ACR1281 PICC Reader</string>
		<string>ACS ACR1281 Dual Reader</string>
		<string>ACS ACR1281 2S CL Reader</string>
		<string>ACS ACR1281 1S PICC Reader</string>
		<string>ACS ACR1281U-K PICC Reader</string>
		<string>ACS ACR1281U-K Dual Reader</string>
		<string>ACS ACR1281U-K 1S Dual Reader</string>
		<string>ACS ACR1281U-K 4S Dual Reader</string>
		<string>ACS ACR1283 4S CL Reader</string>
		<string>ACS ACR1283 CL Reader</string>
		<string>ACS ACR1283U FW Upgrade</string>
		<string>ACS AET62 PICC Reader</string>
		<string>ACS AET62 1SAM PICC Reader</string>
		<string>ACS AET65 ICC Reader</string>
		<string>ACS APG8201</string>
		<string>ACS APG8201Z</string>
		<string>ACS APG8201Z</string>
		<string>ACS CryptoMate64</string>
		<string>ACS CryptoMate (T1)</string>
		<string>ACS CryptoMate (T2)</string>
		<string>ACS ACR38U</string>
		<string>ACS ACR38U-SAM</string>
		<string>ACS AET65 1SAM ICC Reader</string>
		<string>ACS CryptoMate</string>
		<string>IRIS SCR21U</string>
	</array>

	<key>Copyright</key>
	<string>This driver is protected by terms of the GNU Lesser General Public License version 2.1, or (at your option) any later version.</string>

</dict>
</plist>
